html, body {
	background-color: #FFFFFF;
	color: #1C2532;
	font-family: 'Segoe UI Regular', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	width: 100%;
}

a, a:link {
	color: #c5d533;
	text-decoration: none;
}

a:hover {
	color: #7bb63c;
	text-decoration: underline;
}

.header {
	background-color: #FFFFFF;
	border-bottom: 5px solid #EEEEEE;
	box-sizing: border-box;
	height: 69px;
}

.content {
	height: 100%;
	margin: 0 auto;
	width: 960px;
}

.logo {
	display: inline-block;
	margin-top: 23px;
}

.socials {
	float: right;
	margin-top: 22px;
}

.socials__text {
	color: #B1B0B1;
	float: left;
	font-size: 16px;
	line-height: 22px;
	margin: 0 6px;
}

.socials-list {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.socials-list__item {
	float: left;
}

.social-icon {
	background-image: url(img/socials-icons.png);
	background-repeat: no-repeat;
	display: block;
	height: 22px;
	margin-left: 10px; 
	width: 22px;
}

.icon1 {
	background-position: 0% 0%;
}

.icon2 {
	background-position: 100% 0%;
}

.about {
	color: #FFFFFF;
	background-color: #00bbf1;
	overflow:hidden;
	position: relative;
}

.about > .content {
	position: relative;
	z-index: 3
}

.about-column {
	float: left;
	width: 50%;
}

.about-content {
	padding-bottom: 92px;
	padding-top: 64px;
}

.screen-header {
	font: 48px 'Segoe UI Light';
	letter-spacing: -0.6px;
	margin: 0;
	padding: 41px 0;
}

.about-header {
	color: #FFFFFF;
	padding-bottom: 0;
}

.about-text {
	font-size: 18px;
	line-height: 1.33333;
	margin-bottom: 25px;
	margin-top: 18px;
}

.figure {
	position: relative;
}

.figure-cloud {
	height: 243px;
	left: 67px;
	position: absolute;
	top: 141px;
	width: 363px;
	z-index: 1;
}

.figure-icons {
	height: 320px;
	left: 60px;
	position: absolute;
	top: 0px;
	width: 260px;
	z-index: 2;
}

.figure-icons-icon {
	-webkit-animation: icon-fall 4s ease-in-out 1;
	        animation: icon-fall 4s ease-in-out 1;
	background: url(img/icons.png) no-repeat; 
	height: 40px;
	opacity: 0;
	position: absolute;
	width: 40px;
}

@-webkit-keyframes icon-fall {
	25% {
		opacity: 1;
	}
	90% {
		left: 112px;
		opacity: 1;
		top: 210px;
	}
	100% {
		left: 115px;
		opacity: 1;
		top: 300px;
	}
}


@keyframes icon-fall {
	25% {
		opacity: 1;
	}
	90% {
		left: 112px;
		opacity: 1;
		top: 210px;
	}
	100% {
		left: 115px;
		opacity: 1;
		top: 300px;
	}
}

.figure-manandmachine {
	height: 354px;
	left: 32px;
	position: absolute;
	top: 161px;
	width: 481px;
	z-index: 3;
}

.figure-diagramm {
	height: 60px;
	left: 79px;
	position: absolute;
	top: 328px;
	width: 64px;
	z-index: 3;
}

.figure-diagramm-col {
	-webkit-animation: diagramm 3s ease-in-out infinite;
	        animation: diagramm 3s ease-in-out infinite;
	bottom: 0;
	position: absolute;
	-webkit-transform-origin: 50% 100% 0;
	        transform-origin: 50% 100% 0;
	width: 13px;
}

.col1 {	
	background-color: #ef4f23;
	height: 36px;
	left: 0;
}
.col2 {
	background-color: #662e8f;
	height: 60px;
	left: 16px;

}
.col3 {
	background-color: #fbed20;
	height: 36px;
	left: 32px;
}
.col4 {
	background-color: #682079;
	height: 12px;
	left: 48px;
}

@-webkit-keyframes diagramm {
	0% { -webkit-transform: scaleY(0.0); transform: scaleY(0.0); }
	5% { -webkit-transform: none; transform: none; }
	10% { -webkit-transform: scaleY(0.9); transform: scaleY(0.9); }
	15% { -webkit-transform: none; transform: none; }
	85% { -webkit-transform: none; transform: none; }
	90% { -webkit-transform: scaleY(0.0); transform: scaleY(0.0); }
	95% { -webkit-transform: scaleY(0.1); transform: scaleY(0.1); }
	100% { -webkit-transform: scaleY(0.0); transform: scaleY(0.0); }
}

@keyframes diagramm {
	0% { -webkit-transform: scaleY(0.0); transform: scaleY(0.0); }
	5% { -webkit-transform: none; transform: none; }
	10% { -webkit-transform: scaleY(0.9); transform: scaleY(0.9); }
	15% { -webkit-transform: none; transform: none; }
	85% { -webkit-transform: none; transform: none; }
	90% { -webkit-transform: scaleY(0.0); transform: scaleY(0.0); }
	95% { -webkit-transform: scaleY(0.1); transform: scaleY(0.1); }
	100% { -webkit-transform: scaleY(0.0); transform: scaleY(0.0); }
}

.about-cloud {
	height: 344px;
	position: absolute;
	background: url(img/cloud-small.png) no-repeat;
	width: 532px;
	z-index: 2;
}

.about-cloud-left {
	left: -110px;
	top: 85px;
}

.about-cloud-right {
	right: -180px;
	top: 173px;
}

.favorites {
	padding-top: 12px;
	position: relative;
	z-index: 1;overflow:hidden
}

.favorites > .content {
	position: relative;
	z-index: 3
}

.favorites-cloud {
	height: 506px;
	position: absolute;
	background: url(img/cloud-big.png) no-repeat;
	width: 690px;
	z-index: 2;
}

.favorites-cloud-left {
	left: -368px;
	top: 91px;
}

.favorites-cloud-right {
	right: -348px;
	top: 187px;
}

.center {
	text-align: center;
}

.blocks {
	margin-top: 42px;
	margin-bottom: 102px;
}

.blocks-row {
	margin-bottom: 58px;
	margin-left: -1px;
}

.solution {
	box-sizing: border-box;
	display: block;
	float: left;
	margin-left: 47px;
}

.solution:first-child {
	margin-left: 0;
}

.solution:hover {
	text-decoration: none;
}

.solutions {
	background-clip: border-box;
	background-color: #FFFFFF;
	background-image: url(img/solutions.png);
	background-origin: border-box;
	border: 2px solid #D7D7D7;
	box-sizing: border-box;
	cursor: pointer;
	height: 122px;
	width: 205px;
}

.solution:hover > .solutions {
	border: 3px solid #7bb63c;
}

.solution1 {background-position: 0 0;}
.solution2 {background-position: -205px 0;}
.solution3 {background-position: -410px 0;}
.solution4 {background-position: -615px 0;}
.solution5 {background-position: 0 -244px;}
.solution6 {background-position: -205px -244px;}
.solution7 {background-position: -410px -244px;}
.solution8 {background-position: -615px -244px;}

.solution:hover > .solution1 {background-position: 0 -122px;}
.solution:hover > .solution2 {background-position: -205px -122px;}
.solution:hover > .solution3 {background-position: -410px -122px;}
.solution:hover > .solution4 {background-position: -615px -122px;}
.solution:hover > .solution5 {background-position: 0 -366px;}
.solution:hover > .solution6 {background-position: -205px -366px;}
.solution:hover > .solution7 {background-position: -410px -366px;}
.solution:hover > .solution8 {background-position: -615px -366px;}

.solution-name {
	color: #1C2532;
	cursor: pointer;
	font: 22px 'Segoe UI Semibold';
	line-height: 1.1;
	margin-top: 17px;
	width: 205px;
}

.solution:hover > .solution-name {
	color: #7bb63c;
}

.shop {
	background-color: #0078d7;
	color: #FFFFFF;
	height: 167px;
	line-height: 60px;
}

.map {
	float: left;
	height: 99px;
	margin: 29px 27px 0;
	width: 165px;
}

.shop-text {

	float: left;
	font: 18px 'Segoe UI Semilight';
	line-height: 1.33333;
	margin: 57px 0 0 16px;
	width: auto;
}

.shop-text > a {
	font: 18px 'Segoe UI Semibold';
}


.resources {
	padding-top: 1px;
}

.resources-wrap {
	margin-top: 4px;
	margin-bottom: 45px;
}

.resources-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.resource {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #FFFFFF;
	border: 2px solid #0078d7;
	box-sizing: border-box;
	color: #0078d7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	font: 18px 'Segoe UI Semibold';
	height: 76px;
	line-height: 1.33333;
	margin: 0 22px 24px 0;
	padding: 0 33px;
	text-align: left;
}

.resource:hover {
	background-color: #7bb63c;
	border-color: #7bb63c;
	color: #FFFFFF;
	text-decoration: none;
}

.resource:last-child {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-right: 0;
}

.overflow {
	overflow: hidden;
}

.stepper {
	position: relative;
	left: -40px;
	margin: 38px auto 136px;
	width: 1040px;
}

.stepper-connector {
	border: 0;
	border-bottom: 1px solid #00abec;
	left: 63px;
	margin: 0;
	position: absolute;
	top: 41px;
	width: 914px;
	z-index: 1;
}

.step {
	float: left;
	position: relative;
	text-align: center;
	z-index: 2;
	width: 20%;
}

.step:first-child {
	margin-left: 0;
}

.step__round {
	background-color: #00abec;
	border-radius: 41px;
	color: #FFFFFF;
	display: inline-block;
	font: 48px 'Segoe UI Semibold';
	height: 82px;
	line-height: 76px;
	text-align: center;
	width: 82px;
}

.step__description {
	font-size: 18px;
	margin-top: 0.8em;
	text-align: center;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}